<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>New Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<h1 style="color:red">Make an error, you wont</h1>
<h1>Student Created</h1>

<h1><a href="/trolololol">MAKE ANOTHER NEW STUDENT</a></h1>
First Name: <span th:text="${student.firstName}"></span>
<br/>
LastName: <span th:text="${student.lastName}"></span>
<br/>
Grade: <span th:text="${student.grade}"></span>
</body>
</html>

